# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
# Android/IntelliJ
*.iml
.idea/
android/.gradle/
android/app/**/*.keystore
# iOS/Xcode
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
# VS Code
.vscode/
# Logs
*.log
# macOS
.DS_Store
